.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: rgb(92, 87, 87);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  display: inline-block;
  border-radius: 10px;
}

nav a {
  margin: 2rem;
  text-align: left;
  color: azure;

  text-decoration: none;
  text-align: left;
}
