.form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(110, 100, 100);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 5px 5px 20px 4px rgb(0, 0, 0);
  text-align: center;
  width: 30%;
  display: inline-block;
  margin-top: 5rem;
  padding-bottom: 2rem;
}

input {
  border-radius: 5px;
  margin: 5px;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin-top: 15px;

  text-decoration: none;
  font-size: 16px;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #f8f8f85b;
  text-align: center;
  transition: all 0.15s;
}
.btn:hover {
  text-shadow: 0 0 2em rgb(10, 0, 0);
  color: #ffffff;
  border-color: #ffffff;
}

.bio[type="text"] {
  width: 50%;
  height: 100%;
}
